<%- layout("/layouts/boilerplate.ejs") %>

    <div class="row mt-3">
        <div class="col-8">
            <form  method="post" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]"  value="<%= listing.title %>"  class="form-control" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid title.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]"   class="form-control" required><%= listing.description %></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid description.
                        </div>
                    </div>
                    <div class="mb-3">
                        <img src="<%= listing.image.url %>" alt="" class="card-img-top" style="height: 18rem;">
                    </div>

                    <div class="mb-3">
                        <label for="image link" class="form-label">Upload Image</label>
                        <input type="file" name="listing[image][url]"  class="form-control">
                        <div class="invalid-feedback">
                            Please Upload valid image.
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-8 col-lg-4">
                            <label for="price" class="form-label">Price</label>
                            <input  name="listing[price]" value="<%= listing.price %>" class="form-control" required>
                            <div class="invalid-feedback">
                                Please enter valid price.
                            </div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="listing[country]" value="<%= listing.country %>" class="form-control" required>
                            <div class="invalid-feedback">
                                Please provide a valid country.
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control" required>
                        <div class="invalid-feedback">
                            Please provide a valid location.
                        </div>
                    </div>
                <br>
                <button type="submit" class="add-btn mt-3">Edit</button>
            </form>
        </div>
    </div>

